<%- include('../partials/header') %>

<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div class="row centered">
      <form class="align-content-center" method="POST" action="/auth/login">
        <h1>Please Sign-In</h1>

        <%- include('../partials/alerts') %>

        <div class="input-group input-group-lg">
          <label for="email" class="sr-only">Email address</label>
          <span class="input-group-addon" id="email"><i class="glyphicon glyphicon-envelope"></i></span>
          <input type="email" name="email" class="form-control" placeholder="E-mail Address" aria-describedby="email"
            required autofocus>
        </div>

        <div class="input-group input-group-lg">
          <label for="password" class="sr-only">Password</label>
          <span class="input-group-addon" id="password"><i class="glyphicon glyphicon-briefcase"></i></span>
          <input type="password" name="password" class="form-control" placeholder="Password" aria-describedby="password"
            required>
        </div>
        <hr>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <p>
          Don't have an account? <a href="/auth/register">Register</a>
        </p>

        <button class="btn btn-primary btn-block" type="submit">Sign in</button>

      </form>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>
