<%- include('../partials/header') %>

<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div class="row centered">
      <form class="align-content-center" method="POST" action="/auth/register" style="padding-bottom: 14%; padding-top: 12%">
        <h1>Join Us Today</h1>

        <%- include('../partials/alerts') %>

        <div class="input-group input-group-lg">
          <label for="fullname" class="sr-only">Full name</label>
          <span class="input-group-addon" id="fullname"><i class="glyphicon glyphicon-user"></i></span>
          <input type="text" name="fullname" class="form-control" placeholder="Full name" aria-describedby="fullname"
            required autofocus>
        </div>

        <div class="input-group input-group-lg">
          <label for="email" class="sr-only">Email address</label>
          <span class="input-group-addon" id="email"><i class="glyphicon glyphicon-envelope"></i></span>
          <input type="email" name="email" class="form-control" placeholder="E-mail Address" aria-describedby="email"
            required>
        </div>

        <div class="input-group input-group-lg">
          <label for="password" class="sr-only">Password</label>
          <span class="input-group-addon" id="password"><i class="glyphicon glyphicon-briefcase"></i></span>
          <input type="password" name="password" class="form-control" placeholder="Password" aria-describedby="password"
            required>
        </div>
        <hr>

        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <p>
          Already have an account? <a href="/auth/login">Sign in</a>
        </p>

        <button class="btn btn-lg btn-primary btn-block" type="submit">
          Sign up
        </button>

      </form>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>
