<!-- Modal -->
<div class="modal fade" id="place-order" tabindex="-1" role="dialog" aria-labelledby="place-order-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="place-order-label">Place An Order</h4>
            </div>
            <form action="/orders" method="POST">
                <div class="modal-body">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <label for="item" class="control-label">Item:</label>
                                <select class="form-control" name="item" id="item" required>
                                    <option value="">-- Select Item --</option>
                                    <option value="Crate of Egg">Crate of Egg</option>
                                    <option value="Orpington Chicken">Orpington Chicken</option>
                                    <option value="Plymouth Chicken">Plymouth Chicken</option>
                                    <option value="Orpington Chicken">Orpington chicken</option>
                                    <option value="Minorca Chicken">Minorca chicken</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="qty" class="control-label">Quantity:</label>
                                <input type="number" name="qty" class="form-control" id="qty" value="1" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="address" class="control-label">Address:</label>
                                <textarea class="form-control" name="address" id="address" required></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Order</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/assets/js/bootstrap.js"></script>
</body>

</html>
