<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= pageTitle %></title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/main.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">

    <script src="/assets/js/jquery-1.10.2.min.js"></script>
    <script src="/assets/js/chart.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><i class="fa fa-bolt"></i></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- <li class="<%= path === '/' ? 'active' : '' %>">
                        <a href="/">Home</a>
                    </li> -->
                    <% if (isAuth) { %>
                    <li class="">
                        <a href="javascript:;" data-toggle="modal" data-target="#place-order">Place An Order</a>
                    </li>
                    <!-- <li class="<%= path === '/admin' ? 'active' : '' %>">
                        <a href="/admin">Admin</a>
                    </li> -->
                    <li class="<%= path === '/auth/logout' ? 'active' : '' %>">
                        <a href="/auth/logout">Logout</a>
                    </li>
                    <% } else { %>
                    <li class="<%= path === '/auth/login' ? 'active' : '' %>">
                        <a href="/auth/login">Login</a>
                    </li>
                    <li class="<%= path === '/auth/register' ? 'active' : '' %>">
                        <a href="/auth/register">Register</a>
                    </li>
                    <% } %>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
