<%- include('./partials/header') %>

<div id="hello">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 centered">
        <h1>ABF AGRO</h1>
        <h2>Place Your Poultry Order</h2>
      </div><!-- /col-lg-8 -->
    </div><!-- /row -->
  </div> <!-- /container -->
</div><!-- /hello -->

<div id="green">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 centered">
        <img src="assets/img/iphone.png" alt="">
      </div>

      <div class="col-lg-7 centered">
        <h3>WHAT WE DO?</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row centered mt grid">
    <h3>WHAT WE SELL</h3>
    <div class="mt"></div>
    <div class="col-lg-4">
      <a href="#"><img src="https://i.pinimg.com/474x/dd/1b/46/dd1b46468f9ff3eed5bc5ad977c34dbd--isa-duck-coop.jpg"
          alt=""></a>
    </div>
    <div class="col-lg-4">
      <a href="#"><img src="https://mynaijanaira.com/wp-content/uploads/2014/12/chicken-and-egg-300x300.jpg" alt=""></a>
    </div>
    <div class="col-lg-4">
      <a href="#"><img src="http://www.jackieleonards.ie/wp-content/uploads/2015/03/eggs-300x300.png" alt=""></a>
    </div>
  </div>

  <div class="row centered mt grid">
    <div class="mt"></div>
    <div class="col-lg-4">
      <a href="#"><img src="https://broadbranchfarm.com/wp-content/uploads/2018/01/eggs-300x300.jpg" alt=""></a>
    </div>
    <div class="col-lg-4">
      <a href="#"><img src="https://www.bellplantation.co.uk/wp-content/uploads/2019/03/BENEFIT-3-300x300.png"
          alt=""></a>
    </div>
    <div class="col-lg-4">
      <a href="#"><img src="http://agritech.tnau.ac.in/expert_system/poultry/images/Strains/C-Chittagong2.png"
          alt=""></a>
    </div>
  </div>
  <br>
  <br>
  <br>

</div>


<div id="social">
  <div class="container">
    <div class="row centered">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="col-xs-3">
          <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        <div class="col-xs-3">
          <a href="#"><i class="fa fa-dribbble"></i></a>
        </div>
        <div class="col-xs-3">
          <a href="#"><i class="fa fa-twitter"></i></a>
        </div>
        <div class="col-xs-3">
          <a href="#"><i class="fa fa-envelope"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="f">
  <div class="container">
    <div class="row">
      <p>Crafted with <i class="fa fa-heart"></i> by KodeJunky</p>
    </div>
  </div>
</div>

<%- include('./partials/footer') %>
