<%- include('../partials/header') %>

<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="align-content-center" style="padding-top: 8vh">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              ORDERS
              <a href="javascript:;" data-toggle="modal" data-target="#place-order" class="pull-right clearfix"
                style="border: 1px solid #777; padding: 3px; border-radius: 4px; margin-top: -4px">Order now</a>
            </h3>
          </div>
          <div class=" panel-body">
            <div class="table-responsive">
              <table class="table table-striped table-sm">
                <thead>
                  <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Address</th>
                  </tr>
                </thead>
                <tbody>
                  <% orders.map(order => { %>
                  <tr>
                    <td><%= order.name %></td>
                    <td><%= order.quantity %></td>
                    <td><%= order.address %></td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>
